.boutonsform {
    width: 20px;
    grid-template-columns: 25% 75%;
    grid-template-rows: 15% 85%;
}

:root {
    --gauche: #ADB5BD;
    --content-back: #CED4DA;
    --buttonsandtables: #91979D;
}

*{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: grid;
    grid-template-columns: 20vw 77vw;
    grid-template-rows: 8vw 40vw;
    row-gap: 2vw;
    column-gap: 2vw;
    justify-content: space-between;
}


/* NAVBAR */


nav {
    grid-column: 1 /span 1;
    grid-row: 2 / span 1;
    display: flex;
    flex-direction: column;
    background-color: var(--gauche);
    height: 80vh;
    border-radius: 0px 50px 50px 0px;
}

nav a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
    font-size: 30px;
    margin-bottom: 1vh;
    margin-top: 2vh;
}

nav a:hover{
    text-decoration: underline;
}

.navbar-content {
    display: flex;
    flex-direction: column;
}

/* DATE */


.affichage-heure{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    background-color: var(--gauche);
    display: flex;
    height: 8vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0px 50px 50px 0px;
}

.affichage-heure p {
    font-size: 30px;
}


/* AFFICHAGE PAGE*/


.affichage-titre{
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    font-size: 25px;
    height: 8vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--content-back);
    border-radius: 50px 0px 0px 50px;
}

.content{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    display: flex;
    justify-content: center;
    height: 80vh;
    background-color: var(--content-back);
    border-radius: 50px 0px 0px 50px;
    overflow-y: auto;
    overflow-x: hidden;
}

.content p {
    margin-top: 25%;
    font-size: 50px;
}

.content-inside {
    margin-top: 5vh;
}

.bouton-ajouter {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 15px;
    background-color: var(--buttonsandtables);
    padding: 3px 10px;
}

.boutonadd-container {
    display: flex;
    justify-content: right;
}

.boutonsform {
    width: 15px;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--content-back);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--gauche);
    border-radius: 100px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--buttonsandtables);
  }

/* TABLEAUX */

.tableau-liste {
    margin-top: 10px;
    padding: 10px;
    border: 3px solid;
    border-radius: 15px;
    border-spacing: 15px;
    text-align: center;
}

.tableau-liste th {
    border: 2px solid;
    border-radius: 15px;
    padding: 5px 7px;
}

.tableau-liste tr {
    border: none;
}


/* NOMS */

.noms {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    margin-top: 70vh;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/* MODIFICATION */

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid;
    border-radius: 50px;
    padding: 25px 20px;
}

.form-input {
    border-radius: 15px;
    margin-top: 15px;
}

.label-box {
    font-size: 25px;
    width: 90%;
    height: 50px;
    margin-bottom: 35px;
}

.label-box input {
    height: 25px;
    width: 98%;
}

.label-box-textarea {
    font-size: 25px;
}

.label-box-textarea label{
    margin-right: 50px;
}

.submit-btn {
    margin-top: 20px;
    padding: 5px 7px;
    border: 1px solid;
    border-radius: 15px;
    background-color: white;
}

.transfert {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 3px solid;
    border-radius: 50px;
    padding: 25px 20px;
}